body
{
    background:#000;
    color:#FFF;
}
canvas
{
  background: #fff;
  position: absolute;
  left: 50px;
  top: 60px;
}
#controls
{
    //position:absolute;
    //top:0;
    //right:0;
    //margin:160px;
	float:right;
	text-align:center;
	margin-right:100px;
	margin-top:60px;
}
#highscore
{
	//position:absolute;
    //top:0;
    //right:0;
    margin-right:100px;
	margin-top:60px;
	float:right;
	text-align:center;
}
#wrapper
{
	height:1000px;
	width:800px
}